<div class="card">
    <div class="card-body">
        <h5 class="titulo mb-3">{{titulo}}
            <!-- Spinner
            <div *ngIf="loading" class="spinner-border text-danger float-end" role="status">
                <span class="visually-hidden">Loading...</span>
            </div> -->
        </h5>
        <!-- Formulario de registro datos tarjeta-->
        <form [formGroup]="formTarjeta" (ngSubmit)="crearTarjeta()">

            <!-- Titular de la Tarjeta -->
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text" >
                    <i class="fa-solid fa-circle-user" 
                    [class.green-icon]="this.formTarjeta.get('titular')?.valid"
                    [class.red-icon]="this.formTarjeta.get('titular')?.invalid && this.formTarjeta.get('titular')?.touched"></i>
                </span>
                <input type="text" oninput="this.value = this.value.replace(/[^A-Za-zñÑáéíóúÁÉÍÓÚ\s. ]/g, '').replace(/(\..*)\./g, '$1');" formControlName="titular" class="form-control" placeholder="Titular">
            </div>

            <!-- Numero de la tarjeta -->
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text" >
                    <i class="fa-solid fa-credit-card"
                    [class.green-icon]="this.formTarjeta.get('numeroTarjeta')?.valid"
                    [class.red-icon]="this.formTarjeta.get('numeroTarjeta')?.invalid && this.formTarjeta.get('numeroTarjeta')?.touched"></i>
                </span>
                <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"  formControlName="numeroTarjeta" maxlength="16" class="form-control" placeholder="Numero Tarjeta">
            </div>

            <div class="row">
                <div class="col-lg-7">
                    <!-- Fecha de Expedición -->
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text" >
                            <i class="fa-solid fa-calendar-alt"
                            [class.green-icon]="this.formTarjeta.get('fechaExpiracion')?.valid"
                            [class.red-icon]="this.formTarjeta.get('fechaExpiracion')?.invalid && this.formTarjeta.get('fechaExpiracion')?.touched"></i>
                        </span>
                        <input type="text" oninput="this.value = this.value.replace(/[^0-9/]/g, '').replace(/(\..*)\./g, '$1');" pattern="^(0[1-9]|1[0-2])\/?([0-9]{2})$" class="form-control" maxlength="5" formControlName="fechaExpiracion" placeholder="MM/YY">
                    </div>
                </div>
                <div class="col-lg-5">
                    <!-- CODIGO CVV -->
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text" >
                            <i class="fa-solid fa-key"
                            [class.green-icon]="this.formTarjeta.get('cvv')?.valid"
                            [class.red-icon]="this.formTarjeta.get('cvv')?.invalid && this.formTarjeta.get('cvv')?.touched"></i>
                        </span>
                        <input type="password"  oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" maxlength="3" formControlName="cvv" placeholder="CVV">
                    </div>
                </div>
            </div>

            <!--Botton para guardar los datos-->
            <div class="d-grid gap-2">
                <button *ngIf="!loading" [disabled]="this.formTarjeta.invalid" class="btn btn-success btn-lg" type="submit">
                    <i [ngClass]="name"></i>
                    &nbsp;{{button}}</button>
                <button *ngIf="loading" class="btn btn-success btn-lg" type="button">
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </form>
    </div>
</div>